In [2]:
import pandas as pd

df = pd.read_csv("Minimum Wage Data.csv", encoding="latin")
df.to_csv("Minwage.csv", encoding= "utf-8")

In [3]:
df = pd.read_csv("Minwage.csv")
df.head()

,Unnamed: 0,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

In [4]:
gb = df.groupby("State")
gb.get_group("Alabama").set_index("Year").head()

,Unnamed: 0,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,,
1968,0,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
1969,54,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
1970,108,Alabama,0.0,0.0,1.30,8.67,1.30,8.67,38.8,...,0.0,0.0,0.0,0.0,NaN
1971,162,Alabama,0.0,0.0,1.30,8.30,1.30,8.30,40.5,...,0.0,0.0,0.0,0.0,NaN
1972,216,Alabama,0.0,0.0,1.60,9.90,1.60,9.90,41.8,...,0.0,0.0,0.0,0.0,NaN

In [6]:
act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value":name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Department.Of.Labor.Cleaned.Low.Value"]].rename(columns={"Department.Of.Labor.Cleaned.Low.Value":name}))

act_min_wage.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1969,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1970,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1971,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1972,0.0,2.1,0.468,1.20000,1.65,1.0,1.85,1.60,1.60,0.0,...,0.0,1.4,0.0,1.2,1.6,0.0,1.6,1.2,1.45,1.5

In [7]:
act_min_wage.describe()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,53.0,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,...,53.0,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000,53.000000
mean,0.0,5.274906,2.324415,4.193632,5.175472,4.253019,5.194906,4.489623,5.250189,2.160943,...,0.0,3.629245,3.472642,4.083962,5.140377,3.930189,5.186415,4.333019,4.355660,2.838679
std,0.0,2.424435,3.866388,2.374197,2.985101,3.041658,2.809161,2.539010,3.462850,3.490073,...,0.0,2.421209,2.225369,2.208850,2.829715,2.424105,3.414871,2.423502,2.041697,1.746800
min,0.0,2.100000,0.000000,0.156250,1.650000,1.000000,1.400000,1.250000,1.250000,0.000000,...,0.0,0.000000,0.000000,1.000000,1.400000,0.000000,1.600000,1.000000,1.250000,1.200000
25%,0.0,3.850000,0.000000,2.700000,3.350000,1.900000,3.370000,2.000000,2.500000,0.000000,...,0.0,1.400000,3.350000,2.500000,3.350000,2.650000,2.300000,2.750000,3.250000,1.600000
50%,0.0,4.750000,0.000000,4.250000,4.250000,3.000000,4.270000,4.250000,4.250000,0.000000,...,0.0,3.350000,4.300000,4.250000,4.250000,4.250000,4.250000,4.250000,4.250000,1.600000
75%,0.0,7.150000,6.750000,6.250000,7.500000,6.850000,7.650000,6.650000,7.000000,6.670000,...,0.0,5.150000,4.300000,5.150000,7.530000,5.150000,7.930000,5.850000,6.500000,5.150000
max,0.0,10.190000,12.000000,10.000000,13.000000,12.000000,11.000000,9.250000,14.000000,8.560000,...,0.0,7.250000,10.500000,7.250000,10.960000,7.250000,13.500000,8.750000,7.250000,5.150000

In [8]:
act_min_wage.corr().head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,1.000000,0.813187,0.981938,0.986455,0.970585,0.992234,0.971193,0.973326,0.834101,...,NaN,0.948283,0.781511,0.961031,0.992841,0.953998,0.974007,0.984063,0.966210,0.876241
Arizona,NaN,0.813187,1.000000,0.805781,0.853713,0.878803,0.827466,0.786208,0.860865,0.952754,...,NaN,0.806554,0.524404,0.761328,0.840408,0.724143,0.853009,0.835118,0.776753,0.770526
Arkansas,NaN,0.981938,0.805781,1.000000,0.981222,0.974544,0.980991,0.971062,0.976168,0.805780,...,NaN,0.935556,0.826498,0.954685,0.982433,0.953048,0.965271,0.983518,0.961117,0.816334
California,NaN,0.986455,0.853713,0.981222,1.000000,0.987726,0.992328,0.969744,0.982806,0.853217,...,NaN,0.939076,0.793820,0.946546,0.992023,0.931147,0.987628,0.977868,0.950854,0.873317

In [9]:
df.head()

,Unnamed: 0,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

In [10]:
issue_df = df[df['Department.Of.Labor.Cleaned.Low.Value']==0]
issue_df.head()

,Unnamed: 0,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,0,1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
9,9,1968,Florida,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
10,10,1968,Georgia,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
14,14,1968,Illinois,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
16,16,1968,Iowa,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN

In [13]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'U.S. Virgin Islands',
       'Virginia', 'Arizona', 'Puerto Rico'], dtype=object)

In [14]:
import numpy as np

act_min_wage.replace(0, np.NaN).dropna(axis=1).corr().head()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Guam,Hawaii,Idaho,...,Oregon,Pennsylvania,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Alaska,1.000000,0.981938,0.986455,0.970585,0.992234,0.971193,0.973326,0.979386,0.986835,0.958666,...,0.989706,0.959445,0.991785,0.980783,0.961031,0.992841,0.974007,0.984063,0.966210,0.876241
Arkansas,0.981938,1.000000,0.981222,0.974544,0.980991,0.971062,0.976168,0.975847,0.989265,0.951022,...,0.982317,0.957945,0.986417,0.984424,0.954685,0.982433,0.965271,0.983518,0.961117,0.816334
California,0.986455,0.981222,1.000000,0.987726,0.992328,0.969744,0.982806,0.967800,0.981436,0.946857,...,0.985984,0.946763,0.989798,0.974206,0.946546,0.992023,0.987628,0.977868,0.950854,0.873317
Colorado,0.970585,0.974544,0.987726,1.000000,0.980025,0.968148,0.986274,0.961301,0.973284,0.942145,...,0.977187,0.939117,0.980496,0.970238,0.940727,0.982147,0.982347,0.972318,0.943689,0.845495
Connecticut,0.992234,0.980991,0.992328,0.980025,1.000000,0.981611,0.972706,0.976996,0.984969,0.963695,...,0.993275,0.965274,0.994482,0.979789,0.964255,0.997531,0.984275,0.986163,0.971129,0.894385

In [15]:
min_wage_corr = act_min_wage.replace(0, np.NaN).dropna(axis=1).corr().head()

for problem in issue_df['State'].unique():
    if problem in min_wage_corr.columns:
        print("We are missing something here")

In [19]:
group_issue = issue_df.groupby("State")

group_issue.get_group("Alabama").head()

,Unnamed: 0,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,0,1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
54,54,1969,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
108,108,1970,Alabama,0.0,0.0,1.30,8.67,1.30,8.67,38.8,...,0.0,0.0,0.0,0.0,NaN
162,162,1971,Alabama,0.0,0.0,1.30,8.30,1.30,8.30,40.5,...,0.0,0.0,0.0,0.0,NaN
216,216,1972,Alabama,0.0,0.0,1.60,9.90,1.60,9.90,41.8,...,0.0,0.0,0.0,0.0,NaN

In [20]:
group_issue.get_group("Alabama")['Department.Of.Labor.Cleaned.Low.Value'].sum()

0.0

In [21]:
for state,data in group_issue:
    if data['Department.Of.Labor.Cleaned.Low.Value'].sum() !=0.0:
        print("We missed something ")